@model Nackowskis.ViewModels.UserModel

<h3>Login Failed</h3>
<form asp-controller="User" asp-action="Authorize">
    <div class="form-group">
        <label class="control-label">Användarnamn</label><br />
        <input class="form-control" autocomplete="off" asp-for="@Model.UserName" class="modalInput panel" type="text" />
        <span class="text-danger" asp-validation-for="@Model.UserName"></span><br />
    </div>
    <div class="form-group">
        <label class="control-label">Lösenord</label><br />
        <input class="form-control" autocomplete="off" asp-for="@Model.Password" class="modalInput panel" type="password" /><br />
        <span class="text-danger" asp-validation-for="@Model.Password"></span>
    </div>
    <br /><br />
    <input id="login" type="submit" value="Logga in" class="btn btn-default" />
    
</form>
